@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/quantify");

.gradient_button {
  background: linear-gradient(
    90deg,
    #fa699c 0%,
    #e365e8 22.5%,
    #5086f9 49%,
    #96e489 74.5%,
    #f8c047 98.5%
  );
  background-size: 100% 100%;
}

.gradient_button:hover {
  background-size: 200% 200%;
  animation: gradient_animation 3s ease-in-out backwards;
}

.no_scroll::-webkit-scrollbar {
  display: none;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: italic;
}

.quantify-display-regular {
  font-family: "Quantify", sans-serif;
  font-weight: 700;
}

@keyframes gradient_animation {
  0% {
    background-position: 200% 200%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 100%;
  }
}
